<!DOCTYPE html>
html(lang="en")

head 
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="bootstrap-4.4.1-dist/css/bootstrap.css")
    link(rel="stylesheet" href="/css/home.css")
    link(rel="stylesheet" href="/css/styles.css")

    title login | Safe Boda Registration

body
    .container
        .row
            .col.ml-0
                img(src="/images/logo.png" alt="logo")
        .row.justify-content-center.align-items-center.mt-0.pt-0.vp
            .col.col-10.col-sm-7.col-md-4.col-xl-4
                form.login-form()
                    .form-group
                        input(type="text", name="name", id="username", required, onkeyup="this.setAttribute('value', this.value);", value="")
                        label Username
                    .form-group
                        input(type="password", name="password", id="password", required, value="", onkeyup="this.setAttribute('value', this.value);")
                        label Password
                    .checkbox
                        label
                            input(type="checkbox")
                            |   Remember me
                    input(type="submit", name="login", value="Login")

script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js")
script(src="/js/login.js")
